.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.icon {
  font-size: 0.8vw;
  position: fixed;
  cursor: pointer;
}

.iconPush {
  animation: click 100ms ease-out;
}

@keyframes click {
  0% {
    font-size: 1vw;
  }
  50% {
    font-size: 1.3vw;
  }
  100% {
    font-size: 1vw;
  }
}

.countLike {
  color: black;
  margin: 0;
  font-size: 1.1vw;
  margin-right: 3vw;
}
